doctype html
html(lang=metas.lang)
  head
    title= title
    include meta.pug
    include nav.pug
  body
    header
      h1= title
      h2= subtitle
    main
      | !{content}
    footer
      include footer.html
